body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,sans-serif;
  }
  
  .gradient-multiline {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    width: 300px;
    margin: 30px;
    text-align: center;
    line-height: 2.0em;
    overflow: hidden;
    border-radius: 10px;
    background: linear-gradient(to bottom, #667db6, #0082c8, #0082c8, #667db6);
    transition: background 0.8s;
    transition: all 0.2s ease-in-out;
  }
  

  .popup-content{
      color: black;
  }
 

 
  .gradient-multiline:hover {
    box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
    transform: translateX(-3px);
    }

